/* GENERAL Start */
@font-face {
    font-family: 'Zilla Slab';
    src: url('../fonts/ZillaSlab-Medium.ttf');
}

@font-face {
    font-family: 'Alice';
    src: url('../fonts/Alice-Regular.ttf');
}

:root {
    --font-header: 'Zilla Slab';
    --font-regular: 'Alice';

    --color-black: rgba(0, 0, 0, 1.0);
    --color-white: #fff;
    --color-olive-green: #b1b881;
    --color-vanish-gray: #777;
    --color-dark-charcoal: #333;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

h2 {
    font-size: 60px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece  {
    background-color: var(--color-white);
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: var(--color-black);
}
/* GENERAL End */

/* HEADER Start */
header nav {
    font-family: var(--font-regular), sans-serif;
    z-index: 4;
}

header nav .navbar-brand {
    font-weight: 700;
    font-size: 26px;
}

header nav .mt-sm {
    margin-top: 3px;
}
/* HEADER End */

/* HERO Start */
.section-hero .overlay {
    color: var(--color-white);
    position: absolute;
    z-index: 12;
    top: 25%;
    left: 0;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    z-index: 3;
}

.section-hero .overlay h1 {
    font-family: var(--font-header), sans-serif;
    margin-top: 96px;
}

.section-hero .overlay h3 {
    font-family: var(--font-regular), sans-serif;
}
/* HERO End */

/* COUNTER Start */
.section-counter {
    color: var(--color-white);
    background-color: var(--color-black);
}

.section-counter .counter {
    font-size: 72px;
    font-family: var(--font-regular), sans-serif;
}

.section-counter h4 {
    font-family: var(--font-header), sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 60px;
}

.section-counter .counter-title {
    letter-spacing: 1px;
    font-family: var(--font-header), sans-serif;
    text-transform: uppercase;
}
/* COUNTER End */

/* GROOM & BRIDE Start */
.section-gb img {
    border-radius: 50%;
    width: 50%;
}

.section-gb .caption {
    text-transform: uppercase;
    font-family: var(--font-header), sans-serif;
    font-weight: 700;
    color: var(--color-vanish-gray);
}

.section-gb h2 {
    font-family: var(--font-regular), sans-serif;
    font-weight: 700;
}

.section-gb p {
    color: #808e94;
    line-height: 1.7;
    font-family: var(--font-regular), sans-serif;
}
/* GROOM & BRIDE End */

/* WHEN & WHERE Start */
.when-and-where {
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--font-regular), sans-serif;
}

.when-and-where h2, h3 {
    font-family: var(--font-header), sans-serif;
}

.when-and-where img {
    border-radius: 8px;
}
/* WHEN & WHERE End */

/* GALLERY Start */
.gallery h2 {
    color: var(--color-black);
    font-family: var(--font-header), sans-serif;
}

.gallery h2:hover, h2:focus {
    -webkit-text-stroke: 2px var(--color-dark-charcoal);
    color: transparent;
}

.gallery .img-pos-upper-left,.img-pos-bottom-left, .img-pos-center-top, .img-pos-right-1, .img-pos-right-2, .img-pos-bottom-1 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 10px;
}

.gallery .height-2x {
    height: 616px;
}

.gallery .img-pos-upper-left {
    background-image: url('../images/6.jpeg');
}

.gallery .img-pos-bottom-left {
    background-image: url('../images/5.jpeg');
}

.gallery .img-pos-center-top {
    background-image: url('../images/4.jpeg');
}

.gallery .img-pos-right-1 {
    background-image: url('../images/4.jpeg');
}

.gallery .img-pos-right-2 {
    background-image: url('../images/4.jpeg');
}

.gallery .img-pos-bottom-1 {
    background-image: url('../images/4.jpeg');
}
/* GALLERY End */

.rsvp .rsvp-header, input, button, textarea {
    font-family: var(--font-header), sans-serif;
}

/* RSVP Start */
.rsvp .rsvp-header:hover, .rsvp-header:focus {
    -webkit-text-stroke: 2px var(--color-dark-charcoal);
    color: transparent;
}
/* RSVP End */

/* Thank you Start */
.thank-you {
    background-color: var(--color-black);
    padding: 3rem 0;
    font-family: var(--font-header), sans-serif;
}

.thank-you p {
    font-size: 40px;
}

.thank-you span {
    font-size: 1.7rem;
}
/* Thank you End */

/* RESPONSIVE Start */
@media screen and (max-width: 450px) {
    .section-hero .overlay {
        position: absolute;
        top: 0;
        transform: scale(0.6);
    }
}
/* RESPONSIVE End */